language: python
sudo: required
dist: trusty

python:
    - "3.6"

addons:
  apt:
    packages:
        - xvfb

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

install:
    #- sudo apt-get update
    - sudo apt-get -y install python3-pyqt5
    #- pip install -r requirements.txt
    - pip install .
script:
    - python3 test/unit_test.py
